- if projects.empty?
  %span.text-warning There are no Projects assigned to you, Please check with your Project Manager!
- else
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th Project Name
        %th Todos Count
        %th See Todos
    %tbody
      - projects.each do |project|
        %tr
          %td
            %strong= project.name
          %td=project.todos.count

